.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 95px;

  @include on-phone {
    flex-direction: column;
    align-items: left;
    position: relative;

  }

   &__title {
    width: 413px;

    @include on-phone {
      width: 100%;
    }

    .title {
      font-size: 44px;
      line-height: 56px;
      text-transform: uppercase;
      margin-bottom: 40px;

      @include on-phone {
        font-size: 28px;
        line-height: 36px;
      }
    }

    .description {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 50px;
      }
   }
}
&__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 630px;
  height: 236px;
  background-color: $violet-color;
  border-radius: 4px;
  padding: 10px;

  @include on-phone {
    position: absolute;
    bottom: -58%;
  }

  .hero__form--about {
    @include on-phone {
      flex-direction: column;
      width: 100%;
      }

      input {
        @include on-phone {
          width: 100%;
          border-radius: 6px;
        }
      }

     .btn--form {
      @include on-phone {
        width: 100%;
        background-color: $blue-color;
        color: $background-color;
      }

     }
  }

  @include on-phone {
    width: 343px;
    padding: 10px;
    height: 200px;
    margin-top: 40px;
    align-items: center;
  }

  h2 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -4%;
    font-weight: 500;
    color: $white-color;
    text-align: center;

    @include on-phone {
      font-size: 20px;
      line-height: 28px;
    }
  }
   }
}
