@import 'utils/vars';
@import 'utils/mixins';
@import 'header/header';
@import 'main/hero_screen/hero_screen';
@import 'main/statistic/statistic';
@import 'main/trade/trade';
@import 'main/about/about';
@import 'main/what_its/what_its';
@import 'main/how_to_start/how_to_start';
@import 'main/prices/prices';
@import 'footer/footer';
@import 'main/faq/faq';


* {
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
  margin: 0 auto;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: $background-color;
  scroll-behavior: smooth;

  &:has(.burger__menu:target) {
    overflow: hidden;
  }

  .btn {
      font-size: 12px;
      line-height: 20px;
      color: $blue-color;
      text-transform: uppercase;
      border: 1.5px solid $blue-color;
      border-radius: 3px;
      box-shadow: $blue-color-with-opacity 0.5px 0.5px 20px;
      background-color: $blue-color-with-opacity;
      padding-inline: 24px;
      padding-block: 11px;
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: $blue-color;
        color: $background-color;
      }

      &--form {
        width: auto;
      }
    }
}

.container {
  padding-inline: 80px;
  display: flex;
  justify-content: center;

  @include on-phone {
      justify-content: left;
      padding-inline: 20px;
    }

  &--hero {
    background-color: $background-color;
  }

  &--statistic {
    background-color: $white-color;
  }

  &--trade {
    background-color: $background-color;
  }

  &--about {
    background-color: $white-color;
  }

  &--what_its {
    background-color: $background-color;
  }

  &--how_to_start {
    background-color: $violet-color;
  }

  &--prices {
      border-bottom: 2px solid $grey-color;
  }

  &--faq {
    background-color: $white-color;
  }

}

.decor {
  width: 40%;
  display: block;

  @include on-phone {
    width: 60%;
    margin-top: 37px;
  }
}

section, footer {
  width: 100%;
  max-width: 1440px;
}
