@import 'utils/vars';
@import 'header/header';

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0 auto;
  background-color: $background-color;
  max-width: 1200px;
}
