.prices {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  &__title {
    font-size: 44px;
    line-height: 56px;
    color: $white-color;
    margin-top: 96px;
    text-transform: uppercase;

    @include on-phone {
      font-size: 28px;
    line-height: 36px;
    }
  }

  &__btn {
    display: flex;
    width: 413px;

    @include on-phone {
      width: 100%;
    }
  }

  &__cards {
    display: flex;
    gap: 20px;
    max-width: 846px;
    margin-bottom: 96px;

    @include on-phone {
      flex-direction: column;
    }

    .card_price {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1;
      padding: 24px;
      border: 2px solid $violet-color;
      border-radius: 8px;

      &__footer {
        margin-top: auto;
      }

      .btn--prices {
       display: flex;
       flex-direction: column;

       .small {
        font-size: 8px;
        line-height: 16px;
        color: $grey-color;
       }

  }

  &__value {
    display: flex;
    justify-content: space-between;
    margin-top: 112px;
    margin-bottom: 36px;

    .select {
      background-color: $grey-color;
      width: 128px;
      height: 26px;
      border-radius: 5px;
    }

    .price_container {
      .price {
        font-size: 35px;
        line-height: 40px;
        color: $white-color;
      }

      .discount {
        font-size: 18px;
        line-height: 20px;
        color: $green-color;
        position: relative;
        top: -15px;
      }
    }
  }


      &:hover {
      background-color: $violet-color;
      transform: scale(1.03);
    }

      h3 {
        font-size: 32px;
        line-height: 48px;
        color: $white-color;
        margin-bottom: 56px;
      }

      &__description {
        display: flex;
        flex-direction: column;
        gap: 14px;

        p {
          font-size: 16px;
          line-height: 20px;
          color: $white-color;
          border-bottom: 2px dotted $grey-color;
        }
      }
    }
  }
}
