.statistic {
  max-width: 1440px;
  display: flex;
  gap: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 50px;

  h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 4%;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $grey-color;
  }

  &-grid {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    .stat {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .label {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
      }

      .value {
        font-size: 50px;
        font-weight: 500;
        color: $violet-color;
      }
    }
  }
}
