$background-color: #030718;
$white-color: #FFF;
$grey-color: #B0B0B0;
$blue-color: #57E1FF;
$violet-color: #6A54FF;
$input-background-color: #201A4F;
$blue-color-with-opacity: #57E1FF33;
$scrollbar-color: #434F70;
$scrollbar-thumb-color: #6073A1;
$green-color: #35FF9E;
$card-btn-color: #6A54FF;
$accordion-background: #f0f0f0;
$phone-max-width: 768px;

