.footer {
  display: flex;
  justify-content: space-between;
  height: 353px;

  @include on-phone {
    flex-direction: column;
  }


  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 44px;

    @include on-phone {
      flex-direction: row;
    }
  }

  a {
      font-size: 12px;
      color: $grey-color;
      text-decoration: none;
      line-height: 17px;
      font-weight: 500;
      text-transform: uppercase;

      &:hover {
        color: $blue-color;
        text-shadow: $blue-color 1px 1px 10px;;
      }
    }

  .nav--footer {
     display: flex;
    gap: 25px;

    @include on-phone {
      flex-direction: column;
    }
  }

  &__info {
    align-items: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 160px;
    border-left: 1px solid $grey-color;
    padding-block: 44px;

    @include on-phone {
      padding-top: 20px;
      padding-left: 0;
      border-left: none;
      border-top: 1px solid $grey-color;
      align-items: start;
    }

    .rights {
      font-size: 14px;
      font-weight: 20px;
      color: $grey-color;

      @include on-phone {
        padding-top: 80px;
      }
    }
  }
}
