.trade {
   max-width: 1440px;
   overflow: hidden;
   margin-bottom: 118px;

   @include on-phone  {
    margin-bottom: 53px;
   }

  &_title {
    margin-bottom: 72px;

    h2 {
      font-size: 44px;
      color: $white-color;
      line-height: 56px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 96px;

      @include on-phone {
        font-size: 28px;
        line-height: 36px;
        margin-top: 48px;
      }
    }

    span {
      font-size: 14px;
      color: $green-color;
      line-height: 20px;
      font-weight: 400;
    }
  }

  &_card {
    position: relative;
    width: 299px;
    height: 208px;
    background-image: url('/src/images/trade_card.svg');
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    padding: 20px;

    &:hover {
      transform: scale(1.05);
      box-shadow:  1 2 10px $violet-color;
      background-color: $violet-color;
    }
  }
}

.card {

  &_header {
    margin-bottom: 46px;

    h3 {
      font-size: 20px;
      color: $white-color;
      line-height: 26px;
      font-weight: 600;
    }

    p {
      font-size: 14px;
      color: $grey-color;
      line-height: 20px;
      font-weight: 400;
      margin-top: 2px;
    }
  }

  &_body {
    .label {
      font-size: 14px;
      color: $grey-color;
      line-height: 18px;
      font-weight: 500;
    }

    .profit {
      font-size: 28px;
      line-height: 36px;
      color: $green-color;
    }
  }

  &_footer {
    display: flex;
    justify-content: space-between;

    .goal {
      color: $white-color;
      font-size: 14px;
    }

    .date {
      color: $grey-color;
      font-size: 14px;
    }
  }


  &_logo {
      position: absolute;
      right: 0;
    }
}

.cards_container {
  display: flex;
  gap: 20px;
  margin-top: 40px;

}

.scroll_wrapper {
  padding-bottom: 10px;
  overflow-x: auto;
}

.scroll_wrapper::-webkit-scrollbar {
    height: 8px;
}

.scroll_wrapper::-webkit-scrollbar-track {
    background: $scrollbar-color;
    border-radius: 10px;
}

.scroll_wrapper::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 10px;

}

