.header {
  padding: 15px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 0;

    &-img {
      height: 64px;
      width: 131px;
    }

    .accent {
      color: #3CCBFF;
    }
  }

  .nav {
    display: flex;
    gap: 25px;

    a {
      font-size: 12px;
      color: $grey-color;
      text-decoration: none;
      line-height: 17px;
      font-weight: 500;
      text-transform: uppercase;

      &:hover {
        color: $blue-color;
        text-shadow: $blue-color 1px 1px 10px;;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    margin-left: 0;

    .btn {
      font-size: 12px;
      line-height: 20px;
      color: $blue-color;
      text-transform: uppercase;
      border: 1.5px solid $blue-color;
      border-radius: 3px;
      box-shadow: $blue-color-with-opacity 0.5px 0.5px 20px;
      background-color: $blue-color-with-opacity;
      padding-inline: 24px;
      padding-block: 11px;
      cursor: pointer;

      &:hover {
        background-color: $blue-color;
        color: $background-color;
      }
    }
  }
}
