.header {
  background-color: $background-color;
  margin: 0 auto;

  &__container {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 100px;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;

    @include on-phone {
      width: 343px;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin: 0;

    &-img {
      height: 64px;
      width: 131px;
    }

  }

  .nav {
    display: flex;
    gap: 25px;

    &--burger {
      display: flex;
      flex-direction: column;
      gap: 32px;
      justify-self: flex-start;

  .nav__link {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.5px;
  }
    }

    a {
      font-size: 12px;
      color: $grey-color;
      text-decoration: none;
      line-height: 17px;
      font-weight: 500;
      text-transform: uppercase;

      &:hover {
        color: $blue-color;
        text-shadow: $blue-color 1px 1px 10px;;
      }
    }

    &--desktop {
      @include on-phone {
      display: none;
    }
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    margin-left: 0;

    &--desktop {
      @include on-phone {
      display: none;
    }
    }

    &--burger {
      width: 90%;
      position: fixed;
      bottom: 15px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__burger {
    &_logo {
      display: none;
      cursor: pointer;


      @include on-phone {
        display: block;
        margin: 0;
      }
    }
  }
}

.burger {
  &__link {
    display: none;

    @include on-phone {
      display: block;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    background-color: $violet-color;
    height: 100vh;
    z-index: 2;
    transform: translateY(-100%);
    pointer-events: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:target {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
      overflow: hidden;
    }

    &_exit {
      position: fixed;
      right: 10px;
      top: 16px;
    }
      }
}
