.how_to_start {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 44px;
    line-height: 56px;
    text-transform: uppercase;
    margin-block: 50px;
    color: $white-color;

    @include on-phone {
      font-size: 28px;
      line-height: 36px;
      margin-block: 30px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 56px;

    @include on-phone {
      flex-direction: column;
      gap: 32px;
    }
  }

  .step {
    flex: 1;
    border-top: 2px solid $white-color;
    padding-top: 40px;
    display: flex;
    flex-direction: column;

    @include on-phone {
      border-top: none;
      border-left: 2px solid $white-color;
      padding-top: 0;
      padding-left: 30px;
    }

    &:hover {
      border-color: $green-color;
    }

    &__title {
      font-size: 28px;
      line-height: 36px;
      color: $white-color;

      @include on-phone {
        font-size: 20px;
        line-height: 28px;
      }
    }

    &__description {
      font-size: 20px;
      line-height: 26px;
      margin-top: 10px;
      color: $grey-color;

      @include on-phone {
        font-size: 16px;
        line-height: 20px;
      }
  }
}

.btn--how_to_start {
  width: auto;
  padding-inline: 64px;
  margin-bottom: 96px;
  align-self: center;

  @include on-phone {
    width: 100%;
    margin-bottom: 46px;
    background-color: $blue-color;
    color: $background-color;
  }
}
}
